// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-black-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-black-webfont.woff') format('woff');
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-blackitalic-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-blackitalic-webfont.woff') format('woff');
// 	font-weight: 900;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-bold-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-bold-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-bolditalic-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-bolditalic-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-heavy-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-heavy-webfont.woff') format('woff');
// 	font-weight: 800;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-heavyitalic-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-heavyitalic-webfont.woff') format('woff');
// 	font-weight: 800;
// 	font-style: italic;
// }

@font-face {
	font-family: 'sfpro';
	src: url('~/fonts/SFPro/sf-pro-display-medium-webfont.woff2') format('woff2'),
		url('~/fonts/SFPro/sf-pro-display-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-mediumitalic-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-mediumitalic-webfont.woff') format('woff');
// 	font-weight: 500;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-regular-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-regular-webfont.woff') format('woff');
// 	font-weight: 400;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-regularitalic-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-regularitalic-webfont.woff') format('woff');
// 	font-weight: 400;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-semibold-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-semibold-webfont.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'sfpro';
// 	src: url('~/fonts/SFPro/sf-pro-display-semibolditalic-webfont.woff2') format('woff2'),
// 		url('~/fonts/SFPro/sf-pro-display-semibolditalic-webfont.woff') format('woff');
// 	font-weight: 600;
// 	font-style: italic;
// }